<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/fullpagelayout.html}">


<body class="body-wrapper">


<th:block layout:fragment="pagecontent">
<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border">
                    <h3 class="bg-gray p-4">Error</h3>
                    
                  <p1 >Sorry Something Went Wrong<p1>
                </div>
            </div>
        </div>
    </div>
</section>
</th:block>

<!--============================
=            Footer            =
=============================-->



</body>

</html>