<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/fullpagelayout.html}">


<body class="body-wrapper">


<th:block layout:fragment="pagecontent">
<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border">
                    <h3 class="bg-gray p-4">Login Now</h3>
                    <form  th:object="${forgetPasswordForm}">
                        <fieldset class="p-4">
                           <p class="alert alert-danger" th:errors="*{global}" th:if="${#fields.hasErrors('global')}"></p>
                            <input type="text" placeholder="MobileNo" th:field=*{mobileNo} class="border p-3 w-100 my-2">
                            <h2 style="text-align:center;">Or</h2>
                            <input type="text" placeholder="EmailAddress" th:field=*{emailAddress} class="border p-3 w-100 my-2">
                             
                            <button type="submit" class="d-block py-3 px-5 bg-primary text-white border-0 rounded font-weight-bold mt-3">Verify</button>
                           
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</th:block>

<!--============================
=            Footer            =
=============================-->



</body>

</html>